
/* ------------------------------------------------------------- *
 * cs-Header
/* ------------------------------------------------------------- */

#cs-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #000;
	z-index: 999;
	pointer-events: none;
}

/* header position fixed */
#cs-header.cs-header-fixed {
	position: fixed; 
}

/* header inner */
.cs-header-inner {
	width: 100%;
	display: flex;
	padding-top: 40px;
	align-items: center;
}
@media (max-width: 1024px) {
	.cs-header-inner {
		padding-top: 20px;
	}
}

body:not(.cs-boxed) .cs-header-inner,
.cs-header-inner:not(.cs-wrap) {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

/* header columns */
.cs-header-col {
	display: flex;
	align-items: center;
}
.cs-header-col:first-child {
	margin-right: auto;
}


/* Header logo 
=============== */
.cs-logo {
	position: absolute;
	top: 40px;
	margin-right: auto;
	line-height: 1;
	pointer-events: initial;
	z-index: 9;
}
.cs-logo a {
	display: inline-block;
	font-size: 21px;
	color: #000;
}
.cs-logo img {
	max-height: 48px; /* You may need to change the img height to match your logo type! */
}


/* Logo for small screens */
@media (max-width: 1024px) {
	.cs-logo {
		top: 20px;
	}
	.cs-logo img {
		max-height: 42px; /* You may need to change the img height to match your logo type! */
	}
}


/* ------------------------------------------------------------- *
 * Header tools 
/* ------------------------------------------------------------- */

.cs-header-tools {
	position: relative;
	display: flex;
	pointer-events: initial;
}

/* Header tools dynamic (this container moves to page bottom on smaller screens to save space in the header) */
.cs-header-tools-dynamic {
	display: flex;
	align-items: center;
}

/* Header tools item */
.cs-header-tools-item {
}

/* Header tools item icon */
.cs-hti-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	font-size: 16px;
	color: #000;
}
@media (max-width: 1024px) {
	.cs-hti-btn {
		width: 40px;
	}
}
.cs-hti-btn-count {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 5px;
	right: 3px;
	width: 16px;
	height: 16px;
	background-color: #b50408;
	font-size: 12px;
	color: #000;
	line-height: 1;
	border-radius: 50px;
}


/* Header tools on small screens 
==================================== */
@media (max-width: 768px) {
	.cs-header-tools-dynamic {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		justify-content: space-evenly;
		background-color: rgb(42 42 42 / 96%);
		z-index: 998;
	}
	.cs-header-tools-item.hide {
		display: block !important;
	}
}


/* ------------------------------------------------------------- *
 * Classic menu
/* ------------------------------------------------------------- */

/* Classic menu (desktop)
========================== */
@media (min-width: 1200px) {
	.cs-main-menu {
		pointer-events: initial;
	}
	body.cs-header-tools-on .cs-main-menu {
		margin-right: 20px;
	}
	.cs-main-menu-list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0; /* inline list cap fix */
	}
	.cs-main-menu-list > li {
		display: inline-block;
		font-size: inherit; /* inline list cap fix */
		padding: 0 20px;
		transition: opacity 0.2s;
	}
	.cs-main-menu-list > li:first-child {
		margin-left: 0;
		padding-left: 0;
	}
	.cs-main-menu-list > li:last-child {
		margin-right: 0;
		padding-right: 0;
	}
	.cs-main-menu-list > li > a,
	.cs-main-menu-list > li > .cs-submenu-trigger > a {
		display: block;
		padding: 20px 5px;
		font-size: 15px;
		font-weight: 500;
		color: #000;
		transition: color 0.3s, opacity 0.3s;
	}
	
	/* Main menu hover */
	.cs-main-menu-list.cs-mm-hover > li > a,
	.cs-main-menu-list.cs-mm-hover > li > .cs-submenu-trigger > a {
		opacity: .6;
	}
	.cs-main-menu-list.cs-mm-hover > li > a:hover,
	.cs-main-menu-list.cs-mm-hover > li > .cs-submenu-trigger > a:hover,
	.cs-main-menu-list.cs-mm-hover > li.active > a,
	.cs-main-menu-list.cs-mm-hover > li.active > .cs-submenu-trigger > a,
	.cs-main-menu-list.cs-mm-hover > li.cs-submenu-open > .cs-submenu-trigger > a {
		opacity: 1;
		color: #000;
	}


	/* Submenu 
	============ */
	.cs-submenu-wrap {
		position: relative;
	}

	.cs-submenu {
		position: absolute;
		display: block !important;
		top: 100%;
		left: 0;
		width: 200px;
		background-color: #000;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		z-index: 99999;
		border-radius: 3px;
		transform: translate3d(0, 10px, 0);
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
	}

	/* Open submenu on hover */
	.cs-submenu-wrap.cs-submenu-open > .cs-submenu {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition-delay: 0.1s;
	}

	/* submenu links */
	.cs-submenu-list {
		margin: 0;
		padding: 15px 0;
		list-style: none;
	}
	.cs-submenu-list li {
		width: 100%;
	}
	.cs-submenu-list li:first-child {
	}
	.cs-submenu-list li:last-child {
	}
	.cs-submenu-list li a {
		position: relative;
		display: block;
		padding: 10px 25px 10px 20px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.4;
		color: #111;
		transition: all 0.2s ease-in-out;
	}
	.cs-submenu-list > li a:hover, 
	.cs-submenu-list > li > .cs-submenu-trigger:hover a, 
	.cs-submenu-list > li.active > a, 
	.cs-submenu-list > li.active > .cs-submenu-trigger a {
		background-color: rgba(0, 0, 0, 0.05);
	}

	/* Set submenu position to right on last menu list element */
	.cs-main-menu-list > li:last-child > .cs-submenu {
		left: auto;
		right: 0;
	}

	/* Submenu toggle */
	.cs-m-caret {
		display: none;
	}

	/* Sub-submenu */
	.cs-submenu .cs-submenu-wrap > .cs-submenu { 
		left: 100%;
		right: auto;
		margin-top: -50px;
		margin-left: 0;
	}

	/* Caret (requires FontAwesome: https://fontawesome.com/) */
	.cs-submenu-trigger > a::after {
		margin-left: 10px;
		font-size: 12px;
		line-height: 0;

		font-family: "Font Awesome 5 Free";
		content: "\f107";
		font-weight: 900;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}

	/* Caret in sub-submenus */
	.cs-submenu-wrap .cs-submenu-wrap .cs-submenu-trigger > a::after {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate3d(0, -50%, 0) rotate(-90deg);
	}

	/* Hide ".cs-submenu-trigger-m" on desktop */
	.cs-submenu-trigger .cs-submenu-trigger-m {
		display: none;
	}


	/* Submenu styles 
	================== */
	/* Submenu dark style */
	.cs-submenu-dark .cs-submenu {
		background-color: #212121;
		color: #a9a9a9;
	}
	.cs-submenu-dark .cs-submenu .cs-submenu-list li a {
		color: #a9a9a9;
	}
	.cs-submenu-dark .cs-submenu .cs-submenu-list > li a:hover, 
	.cs-submenu-dark .cs-submenu .cs-submenu-list > li > .cs-submenu-trigger:hover a, 
	.cs-submenu-dark .cs-submenu .cs-submenu-list > li.active > a, 
	.cs-submenu-dark .cs-submenu .cs-submenu-list > li.active > .cs-submenu-trigger a {
		color: #000;
		background-color: transparent;
	}
}


/* Mobile menu (for classic menu) 
================================== */
@media (min-width: 1200px) {
	#cs-m-menu-toggle-btn-wrap { /* Hide on desktop */
		display: none;
	}
}

/* Show mobile menu on small screens only */
@media (max-width: 1199px) {
	.cs-main-menu {
		pointer-events: initial;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #15161A;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
	}
	.cs-main-menu-holder {
		position: relative;
		height: 100%;
		width: calc(100% + 17px);
		overflow-y: scroll;
		z-index: 2;
	}
	body.is-mobile .cs-main-menu-holder {
		padding-right: 17px;
	}
	.cs-main-menu-inner {
		display: table;
		width: 100%;
		height: 100%;
		padding: 20% 7%;
	}
	.cs-main-menu-content {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}

	/* Mobile menu list */
	.cs-main-menu-list {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.cs-main-menu-list > li {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.cs-main-menu-list > li:first-child {
		margin-top: 0;
	}
	.cs-main-menu-list > li:last-child {
		margin-bottom: 0;
	}
	.cs-main-menu-list > li a {
		position: relative;
		display: inline-block;
		font-size: 34px;
		font-weight: 600;
		line-height: 1.2;
		color: #eaeaea;
	}
	@media (max-width: 767px) {
		.cs-main-menu-inner {
			padding-top: 35%;
			padding-bottom: 35%;
		}
		.cs-main-menu-list > li a {
			font-size: 34px;
		}
	}

	/* Mobile menu list hover/active (master parent) */
	.cs-main-menu-list > li a:hover,
	.cs-main-menu-list > li > .cs-submenu-trigger:hover a,
	.cs-main-menu-list > li > .cs-submenu-trigger:hover .cs-m-caret,
	.cs-main-menu-list > li.active > a,
	.cs-main-menu-list > li.active > .cs-submenu-trigger a,
	.cs-main-menu-list > li.active > .cs-submenu-trigger .cs-m-caret {
		color: #000;
	}

	/* Mobile submenu */
	.cs-submenu-wrap {
		position: relative;
	}
	.cs-submenu-trigger {
		position: relative;
		display: inline-block;
	}

	.cs-submenu-trigger > a {
		position: relative;
		z-index: 1;
	}
	.cs-submenu-trigger .cs-submenu-trigger-m {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		cursor: pointer;
	}

	.cs-submenu {
		display: none;
		position: relative;
		top: auto;
		left: 0 !important;
		min-width: 100%;
		background-color: transparent;
		margin-top: 15px;
		margin-bottom: 15px;
		color: #a9a9a9;
	}

	.cs-submenu-list {
		margin: 0 0 0 20px;
		padding: 0;
		list-style: none;
	}
	.cs-submenu-list .cs-submenu {
		margin-top: 10px;
	}
	.cs-submenu-list > li {
	}
	.cs-submenu-list > li a {
		display: inline-block;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 16px;
		font-weight: normal;
		color: #AAA;
		-webkit-text-stroke: 0;
	}

	/* Mobile submenu list hover/active */
	.cs-submenu-list > li a:hover,
	.cs-submenu-list > li > .cs-submenu-trigger:hover a,
	.cs-submenu-list > li > .cs-submenu-trigger:hover .cs-m-caret,
	.cs-submenu-list > li > .cs-submenu-trigger.cs-m-submenu-open a,
	.cs-submenu-list > li > .cs-submenu-trigger.cs-m-submenu-open .cs-m-caret,
	.cs-submenu-list > li.active > a,
	.cs-submenu-list > li.active > .cs-submenu-trigger a,
	.cs-submenu-list > li.active > .cs-submenu-trigger .cs-m-caret {
		color: #000;
	}

	/* Mobile submenu caret (requires FontAwesome: https://fontawesome.com/) */
	.cs-m-caret {
		position: absolute;
		top: 55%;
		right: -42px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17px;
		color: #eaeaea;
		cursor: pointer;
		z-index: 9;
		border-radius: 100%;
		transform: translate3d(0, -50%, 0);
	}
	.cs-m-caret::after {
		font-family: "Font Awesome 5 Free";
		content: "\f107";
		font-weight: 900;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		transition: all 0.2s ease-in-out;
	}
	.cs-submenu-trigger.cs-m-submenu-open .cs-m-caret::after {
		transform: rotate(180deg);
	}

	/* Mobile sub-submenu caret */
	.cs-submenu-list > li > .cs-submenu-trigger .cs-m-caret {
		color: #8a8a8a;
	}

	/* Mobile menu toggle button */
	#cs-m-menu-toggle-btn-wrap {
		position: relative;
		display: flex;
		align-items: center;
		pointer-events: initial;
		cursor: pointer;
		z-index: 9;
	}
	.cs-m-menu-toggle-btn-holder {
		float: left;
	}

	.cs-m-menu-toggle-btn {
		position: relative;
		display: block;
		width: 50px;
		height: 50px;
	}
	.cs-m-menu-toggle-btn span {
		position: absolute;
		display: block;
		top: 52%;
		left: 50%;
		height: 2px;
		width: 24px;
		background-color: transparent;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease-in-out;
	}
	.cs-m-menu-toggle-btn span::before,
	.cs-m-menu-toggle-btn span::after {
		position: absolute;
		display: block;
		content: '';
		height: 2px;
		width: 24px;
		background-color: #000;
		transition: all 0.3s ease-in-out;
	}
	.cs-m-menu-toggle-btn span::before {
		top: -4px;
		width: 24px;
	}
	.cs-m-menu-toggle-btn span::after {
		top: auto;
		bottom: -4px;
		width: 18px;
	}

	/* Toggle button text */
	.cs-m-menu-toggle-btn-text {
		float: left;
		padding-right: 5px;
		overflow: hidden;
		text-align: right;
		font-size: 16px;
	}
	body.cs-m-menu-open .cs-m-menu-toggle-btn-text .cs-m-menu-text-menu {
		display: none;
	}

	/* Toggle button close */
	body.cs-m-menu-open .cs-m-menu-toggle-btn span {
		width: 20px;
		background-color: transparent;
	}
	body.cs-m-menu-open .cs-m-menu-toggle-btn span::before {
		top: 0;
		width: 20px;
		transform: rotate(45deg);
	}
	body.cs-m-menu-open .cs-m-menu-toggle-btn span::after {
		bottom: 0;
		width: 20px;
		transform: rotate(-45deg);
	}

	.cs-m-menu-toggle-btn-text .cs-m-menu-text-close {
		display: none;
	}
	body.cs-m-menu-open .cs-m-menu-toggle-btn-text .cs-m-menu-text-close {
		display: block;
	}

	/* Disable menu toggle button click until the animations last */
	body.cs-m-menu-toggle-no-click #cs-m-menu-toggle-btn-wrap {
		pointer-events: none;
	}

	/* Align mobile menu to center */
	.cs-main-menu.cs-m-menu-center .cs-main-menu-content {
		text-align: center;
	}
	.cs-main-menu.cs-m-menu-center .cs-submenu-list {
		margin: 0;
	}
}


/* ------------------------------------------------------------- *
 * Overlay menu 
/* ------------------------------------------------------------- */

/* Overlay menu 
================ */
.cs-overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #151619;
    visibility: hidden;
    opacity: 0;
    pointer-events: initial;
}
.cs-ol-menu-holder {
	position: relative;
	height: 100%;
	width: calc(100% + 17px);
	padding-right: 17px;
	overflow-y: scroll;
	z-index: 2;
}
.cs-ol-menu-inner {
	display: table;
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.cs-ol-menu-content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 60px 5%;
}
@media (max-width: 767px) {
	.cs-ol-menu-content {
		padding-top: 25%;
		padding-bottom: 35%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Disable page scroll if overlay menu is open */
body.cs-ol-menu-open {
	overflow-y: hidden !important;
}

/* Hide smooth scrollbar if overlay menu is open */
body.cs-smooth-scroll.cs-ol-menu-open .scrollbar-track {
	display: none !important;
}

/* Overlay menu list */
.cs-ol-menu-list {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cs-ol-menu-list > li {
	position: relative;
	margin-top: 0;
	margin-bottom: 20px;
}
@media (max-width: 767px) {
	.cs-ol-menu-list > li {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.cs-ol-menu-list > li:first-child {
	margin-top: 0;
}
.cs-ol-menu-list > li:last-child {
	margin-bottom: 0;
}

/* Overlay menu list item counter */
/*@media (min-width: 992px) {
	.cs-overlay-menu.cs-ol-menu-count .cs-ol-menu-list {
		counter-reset: ol-menu-list-counter;
	}
	.cs-overlay-menu.cs-ol-menu-count .cs-ol-menu-list > li > a::before,
	.cs-overlay-menu.cs-ol-menu-count .cs-ol-menu-list > li > .cs-ol-submenu-trigger > a::before {
		position: absolute;
		counter-increment: ol-menu-list-counter;
		content: "" counter(ol-menu-list-counter, decimal-leading-zero);
		top: 5px;
		left: -30px;
		line-height: 1;
		font-size: 14px;
		font-weight: normal;
		color: #000;
		opacity: 0.4;
	}
}*/

/* Overlay menu list links (master parent) */
.cs-ol-menu-list > li > a,
.cs-ol-menu-list > li > .cs-ol-submenu-trigger > a {
	position: relative;
	display: inline-block;
	font-size: clamp(4rem, 6.5vw, 12rem);
	line-height: 1.1;
	color: #eaeaea;
}
.cs-ol-menu-list > li > a:hover {
    color: #FFFFFF
}
.cs-ol-menu-list a.cs-link {
    background-image: -o-linear-gradient(transparent calc(100% - 2.5px), currentColor 1px);
    background-image: linear-gradient(transparent calc(100% - 5px), currentColor 5px);
}
/* Overlay menu list hover/active (master parent). Note: no effect on mobile devices! */
/*body:not(.is-mobile) .cs-ol-menu-list.cs-ol-menu-hover > li > a,
body:not(.is-mobile) .cs-ol-menu-list.cs-ol-menu-hover > li > .cs-ol-submenu-trigger > a,
body:not(.is-mobile) .cs-ol-menu-list.cs-ol-menu-hover > li > .cs-ol-submenu-trigger .cs-ol-submenu-caret {
	opacity: .3;
}
body:not(.is-mobile) .cs-ol-menu-list > li.active > a,
body:not(.is-mobile) .cs-ol-menu-list > li.active > .cs-ol-submenu-trigger > a,
body:not(.is-mobile) .cs-ol-menu-list > li.active > .cs-ol-submenu-trigger .cs-ol-submenu-caret,
body:not(.is-mobile) .cs-ol-menu-list > li > a:hover,
body:not(.is-mobile) .cs-ol-menu-list > li > .cs-ol-submenu-trigger:hover > a,
body:not(.is-mobile) .cs-ol-menu-list > li > .cs-ol-submenu-trigger:hover .cs-ol-submenu-caret,
body:not(.is-mobile) .cs-ol-menu-list > li > .cs-ol-submenu-trigger.cs-ol-submenu-open > a,
body:not(.is-mobile) .cs-ol-menu-list > li > .cs-ol-submenu-trigger.cs-ol-submenu-open .cs-ol-submenu-caret {
	opacity: 1;
}*/

/* Overlay menu submenu */
.cs-ol-submenu-wrap {
	position: relative;
}
.cs-ol-submenu-trigger {
	position: relative;
	display: inline-block;
}
.cs-ol-submenu {
	display: none;
	position: relative;
	height: auto;
	margin-left: 20px;
	color: #8a8a8a;
}
.cs-ol-menu-list > li > .cs-ol-submenu {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Overlay menu submenu list */
.cs-ol-submenu-list {
	padding: 0;
	list-style: none;
}
.cs-ol-submenu-list .cs-ol-submenu {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* Overlay menu submenu list links */
.cs-ol-submenu-list > li a,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger > a {
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 19px;
	color: #AAA;
	transition: color 0.3s ease-in-out;
}

/* Overlay menu submenu list hover/active */
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger.cs-ol-submenu-open > a,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger.cs-ol-submenu-open .cs-ol-submenu-caret,
.cs-ol-submenu-list > li.active > a,
.cs-ol-submenu-list > li.active > .cs-ol-submenu-trigger > a,
.cs-ol-submenu-list > li.active > .cs-ol-submenu-trigger .cs-ol-submenu-caret,
.cs-ol-submenu-list > li a:hover,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger:hover > a,
.cs-ol-submenu-list > li > .cs-ol-submenu-trigger:hover .cs-ol-submenu-caret {
	color: #000;
}

/* Submenu caret (requires FontAwesome: https://fontawesome.com/) */
.cs-ol-submenu-caret-wrap {
	position: absolute;
	top: 60%;
	right: -40px;
	transform: translate3d(0, -50%, 0);
}
@media (max-width: 767px) {
	.cs-ol-submenu-caret-wrap {
		right: -40px;
	}
}
.cs-ol-submenu-caret {
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #eaeaea;
	cursor: pointer;
	z-index: 2;
	border-radius: 100%;
	transition: opacity 0.3s ease-in-out;
}
.cs-ol-submenu-caret::after {
	font-family: "Font Awesome 5 Free";
	content: "\f107";
	font-weight: 900;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	transition: all 0.2s ease-in-out;
}
.cs-ol-submenu-trigger.cs-ol-submenu-open .cs-ol-submenu-caret::after {
	transform: rotate(180deg);
}

/* Sub-submenu caret */
.cs-ol-menu-list > li li .cs-ol-submenu-caret-wrap {
	top: 50%;
	right: -40px;
}
.cs-ol-menu-list > li li .cs-ol-submenu-caret {
	font-size: 16px;
	color: #8a8a8a;
}


/* Overlay menu toggle button 
============================== */
#cs-ol-menu-toggle-btn-wrap {
	position: relative;
	display: flex;
	align-items: center;
	pointer-events: initial;
	cursor: pointer;
	z-index: 9;
}
@media (min-width: 1025px) {
	body.cs-header-tools-on #cs-ol-menu-toggle-btn-wrap {
		margin-right: 20px;
	}
}
.cs-ol-menu-toggle-btn-holder {
	float: left;
}

/* Toggle button */
.cs-ol-menu-toggle-btn {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
}
.cs-ol-menu-toggle-btn span {
	position: absolute;
	display: block;
	top: 54%;
	left: 50%;
	height: 2px;
	width: 24px;
	background-color: transparent;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out;
}
.cs-ol-menu-toggle-btn span::before,
.cs-ol-menu-toggle-btn span::after {
	position: absolute;
	display: block;
	content: '';
	height: 2px;
	width: 24px;
	background-color: #F15025;
	transition: all 0.3s ease-in-out;
}
body.cs-ol-menu-open .cs-ol-menu-toggle-btn span::before,
body.cs-ol-menu-open .cs-ol-menu-toggle-btn span::after {
	background-color: #fff;
}
.cs-ol-menu-toggle-btn span::before {
	top: -4px;
	width: 24px;
}
.cs-ol-menu-toggle-btn span::after {
	top: auto;
	bottom: -4px;
	width: 18px;
}

/* Toggle button text */
.cs-ol-menu-toggle-btn-text {
	float: left;
	padding-right: 5px;
	overflow: hidden;
	text-align: right;
	font-size: 15px;
	color: #000;
}
@media (max-width: 320px) {
	.cs-ol-menu-toggle-btn-text {
		display: none;
	}
}

/* Toggle button text hover */
.cs-ol-menu-toggle-btn-text .text-menu {
	position: relative;
	display: inline-block;
	text-align: right;
	transition: transform 0.3s;
}
body.cs-ol-menu-open .cs-ol-menu-toggle-btn-text .text-menu {
	display: none;
}

body:not(.is-mobile) .cs-ol-menu-toggle-btn-text .text-menu::before {
	position: absolute;
	top: 100%;
	right: 0;
	content: attr(data-hover);
}
body:not(.is-mobile) #cs-ol-menu-toggle-btn-wrap:hover .cs-ol-menu-toggle-btn-text .text-menu {
	transform: translate3d(0, -100%, 0);
}

/* Toggle button close */
body.cs-ol-menu-open .cs-ol-menu-toggle-btn span {
	width: 20px;
	background-color: transparent;
}
body.cs-ol-menu-open .cs-ol-menu-toggle-btn span::before {
	top: 0;
	width: 20px;
	transform: rotate(45deg);
}
body.cs-ol-menu-open .cs-ol-menu-toggle-btn span::after {
	bottom: 0;
	width: 20px;
	transform: rotate(-45deg);
}

.cs-ol-menu-toggle-btn-text .text-close {
	display: none;
}
body.cs-ol-menu-open .cs-ol-menu-toggle-btn-text .text-close {
    display: block;
    color: #FFF;
}
/* Disable menu toggle button click until the animations last */
body.olm-toggle-no-click .cs-ol-menu-toggle-btn-text,
body.olm-toggle-no-click .cs-ol-menu-toggle-btn {
	pointer-events: none;
}


/* Overlay menu position center 
================================ */
.cs-overlay-menu.cs-ol-menu-center .cs-ol-menu-content {
	text-align: center;
}
.cs-overlay-menu.cs-ol-menu-center .cs-ol-submenu {
	margin-left: 0;
}