#contente-z1{position: relative;z-index: 9;min-height: 100vh; background-color: red;}
/*preloader*/
    /* Estilo para centrar el contenido */
    #preloader-container {
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    /*preloader*/
    .loader {
        align-items: center;
        background: #15161a;
        color: #fff;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 9
    }
    .loader__inner{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative
    }
    .loader__title {
        position: relative;
        z-index: 1;
        margin: auto;
    }
    .loader__title {
        display: block;
        font-size: 2.425rem;
        text-transform: uppercase
    }
    .loader__wrap {
        perspective: 32rem;
        z-index: -1
    }
    .loader__box {
        height: 10rem;
        margin: 0 auto 1rem;
        pointer-events: none;
        position: relative;
        transform-style: preserve-3d;
        width: 10rem
    }
    .loader__box,
    .loader__box div {
        align-items: center;
        display: flex;
        justify-content: center
    }
    .loader__box div {
        background: #15161a;
        height: 100%;
        padding: 2rem;
        font-size: 5rem;
        position: absolute;
        width: 100%;
    }
    .simbol-l {
        position: absolute;
        right: 49px;
        top: 52px;
        height: 24px;
    }
    .simbol-l2 {
        right: 40px;
    }
    .loader__box div:first-child {
        transform: rotateY(0deg) translateZ(4rem)
    }
    .loader__box div:nth-child(2) {
        transform: rotateY(-90deg) translateZ(4rem)
    }
    .loader__box div:nth-child(3) {
        transform: rotateX(-90deg) rotate(-90deg) translateZ(4rem)
    }
    .loader__box div:nth-child(4) {
        transform: rotateX(180deg) rotate(-90deg) translateZ(4rem)
    }
    .loader__box div:nth-child(5) {
        transform: rotateX(90deg) translateZ(4rem)
    }
    .loader__box div:nth-child(6) {
        transform: rotateY(90deg) rotate(90deg) translateZ(4rem)
    }
    .loader--animate .loader__box {
        animation: loader 4s cubic-bezier(.34, 1.56, .64, 1) infinite;
    }
    @keyframes loader {
        0% {
            transform: rotateY(0) rotateX(0)
        }
        16.6% {
            transform: rotateY(90deg) rotateX(0)
        }
        33.3% {
            transform: rotateY(90deg) rotateX(0) rotate(90deg)
        }
        50% {
            transform: rotateY(180deg) rotateX(0) rotate(90deg)
        }
        66.6% {
            transform: rotateY(180deg) rotateX(-90deg) rotate(90deg)
        }
        83.3% {
            transform: rotateY(270deg) rotateX(-90deg) rotate(90deg)
        }
        to {
            transform: rotateY(270deg) rotateX(-90deg) rotate(90deg) rotateX(90deg)
        }
    }

    .text-intro {
        text-align: center;
        position: relative;
        z-index: 10000;
        font-size: clamp(4rem, 9vw, 10rem);
        color: #FFF;
        mix-blend-mode: difference;
        line-height: .8;
        margin: 0;
    }






#page-content {
    height: 100%;
    min-height: 100vh;
    margin-bottom: 100vh;
    z-index: 1;
    position: relative;
    overflow: hidden;
}



/*VIDEO REEL*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999; /* Debe estar por debajo del #closeReel */
}
/* #closeReel {
    display: none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
} */
#closeReel {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#openReel, #closeReel {
    cursor: pointer;
}
body.no-scroll {
    overflow: hidden;
}





/*fonts*/
.font-wb {
    font-family: 'Aeonik';
}
.font-uppercase {
    text-transform: uppercase;
}

.font-white {
    color: #FFF;
}


/*fonts animations*/
.word {
    overflow: hidden;
    padding-bottom: 0.5em;
    margin-bottom: -0.4em;
    transform-origin: bottom;
}
[text-split] {
    opacity: 0;
}
.main-hero_heading {
    line-height: .8;
}





/*header fixed scroll*/
#cs-header.jwpnavbar {
    height: 80px;
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.3s
}
#cs-header.jwpnavbar--scrolled {
    height: 85px;
    top: 0;
    background-color: #15161a;
}
.cs-logo, .cs-header-inner {
  transition: ease 0.6s;
}
#cs-header.jwpnavbar--scrolled .cs-header-inner {
    padding-top: 20px;
}
#cs-header.jwpnavbar--scrolled .cs-logo {
    top: 30px;
}
#cs-header.jwpnavbar--up {
    top: -90px;
    transition: ease 0.4s;
}
/*Navbar*/
ul.cs-ol-menu-contact {
    position: absolute;
    left: 5%;
    bottom: 15%;
    z-index: 4;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cs-ol-menu-contact span {
    padding-bottom: 5px;
    display: block;
}
.cs-ol-menu-contact .link-contact {
    font-size: 26px;
}

/*logo header*/
.cs-logo-white {
    display: none;
}
.cs-logo-dark {
    display: block;
}
.has-scrolled .cs-logo-white {
    display: block;
}
.has-scrolled .cs-logo-dark {
    display: none;
}
.cs-logo img {
    max-height: 48px;
    max-width: 137px;
}

body.cs-ol-menu-open .cs-logo-white{
    display: block !important;
}
body.cs-ol-menu-open .cs-logo-dark{
    display: none !important;
}



/*Footer*/
#cs-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner-spaceTop {
    padding-top: calc(100vh - 90vh);
}
#cs-footer .logo-footer {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 1rem 10px;
}
#cs-footer .logo-footer img {
    display: block;
}
#cs-footer .cs-copyright {
    padding: 0 10px 1rem 10px;
    font-size: calc(100vw - 98vw);
    line-height: 1;
}

#cs-footer p, #cs-footer .link-footer {
    font-size: 1.114rem;
}
.link-mailinfo {
    font-size: 2.114rem;
}


.cs-contact-info {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.114rem;
}

.cs-contact-info > li {
    padding: 3px 0;
    line-height: normal;
}




/* ------------------------------------------------------------- *
 * HERO > HOME
/* ------------------------------------------------------------- */
#page-header {
    background-color: #F1F1F1;
    position: relative;
    z-index: 1;
    height: calc(100vh - 35vh);
    display: flex;
    align-items: end;
}


.page-header-inner {
    width: 100%;
    padding-bottom: 2vh;
}

.word-line {
    overflow: hidden;
    line-height: .8;
}
.skew-up, .skew-up-in, .skew-up-in-2 {opacity: 0;}

#page-header .ph-caption-title {
    font-size: calc(16px + 11vw);
    margin: 0;
}

.crs-hero {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 5px;
    height: 19px;
}
.crs-hero img {
    height: 100%;
}






/*HERO VIDEO*/
#videoZoom {
  transform: scale(.63);
  overflow: hidden;
  border-radius: 3rem;
}
#videoPopup {
    display:none; 
    position:fixed; 
    height: 100vh;
    width: 100%;
    top:0%; 
    left:0%;
    z-index:999999;
    background-color:#000; 
}
#closePopup {
    position: absolute;
    width: 100%;
    height: 100vh;
    border: none;
    cursor: pointer;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#popupVideo {
    height: 100vh;
    width: 100%;
}






/*SECTION > Manifest*/
.text--xlg {
    font-size: calc(100vw - 94vw);
}
.text--md {
    line-height: 1.1;
   font-size: calc(100vw - 95vw);
}
.text--sm {
    line-height: 1.1;
    font-size: calc(100vw - 96.7vw);
    margin: 0;
}
.ml-10 {
    margin-left: -10px;
}

.item-doodle {
    position: absolute;
    left: -16vw;
    bottom: 0;
    max-width: 55vw;
    max-width: 350px;
    z-index: -2;
}
.item-doodle video {
    width: 100%;
}
.doodle-navbar {
    position: absolute;
    left: 10vw;
    bottom: 0;
}
.dark-section, .gray-section {
  transition: background-color 0s, color 0.4s
}

.logo-crs {
    max-width: 100%;
    margin-left: auto;
}

.dark-active {
  background-color: #15161A;
  color: #F1F1F1;
}

.gray-section {
  background-color: #15161A;
  color: #F1F1F1;  
}
.gray-active {
  background-color: #F1F1F1;
  color: #15161A;
}

.dark-section svg {
  fill: #000000; /* Changes the fill color of SVG elements to white */
  transition: fill 1s;
}
.gray-section svg {
  fill: #ffffff; /* Ensures SVG elements in gray sections have a dark color */
  transition: fill 1s;
}

.dark-active svg {
  fill: #F1F1F1; /* Changes the fill color of SVG elements to white */
  transition: fill 1s;
}
.gray-active svg {
  fill: #15161A; /* Ensures SVG elements in gray sections have a dark color */
  transition: fill 1s;
}








/*SECTION > TRUSTED COLLABS*/
#brands {
}
.cs-brands-carousel .swiper-horizontal>.swiper-scrollbar,
.cs-brands-carousel .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    background: rgb(0 0 0 / 30%)
}

.cs-brands-carousel .swiper-scrollbar-drag {
    background: #F15025
}

.cs-brands-carousel .swiper-horizontal>.swiper-scrollbar,
.cs-brands-carousel .swiper-scrollbar.swiper-scrollbar-horizontal {
    left: var(--swiper-scrollbar-sides-offset, 4%)
}

.cs-content-relative {
    position: relative
}

.cs-title-brands {
    font-size: calc(100% + 12.5vw);
    padding-left: 2.5%;
    line-height: .8;
    padding-right: 2.5%;
}
.cs-brands-carousel .swiper-scrollbar {
    visibility: hidden
}

@media (max-width:760px) {
    .cs-brands-carousel .swiper-scrollbar {
        visibility: initial
    }
    .cs-brands-carousel .swiper-wrapper {
        padding-bottom: 2rem
    }
}

.cs-brands-carousel .swiper-horizontal {
    padding: 0 2.8%;
}


.cs-brands-carousel-item h4 {
    font-size: 17px
}

.cs-brands-carousel-item p {
    margin: 0 0 30px;
    line-height: normal;
    font-size: 15px
}

.cs-brands-carousel-item figure {
    margin-bottom: 25px;
    height: 95px;
    display: flex;
    align-items: center;
}


.cs-brands-carousel-item figure img {
    width: auto;
    height: auto;
    max-width: 200px
}

@media (max-width:768px) {
    .cs-brands-carousel .swiper-slide {
        width: 40vw;
        margin-right: 10vw;
    }
}

@media (max-width:767px) {
    .cs-brands-carousel .swiper-slide {
        width: 75vw;
        margin-right: 10vw;
    }
}










/*SECTION > ABOUT*/
#about {
    margin-top: -1px;
}

.first-name {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #FFF;
    font-weight: 500;
    left: 10px;
    font-size: calc(100vw - 83vw);
    line-height: .9;
}

.first-box h1 {
    font-family: "Aeonik";
    font-size: 46px;
    font-size: clamp(4rem, 13vw, 7.814rem);
    line-height: .9;
    margin: 0;
}
.first-box h6 {
    font-size: clamp(1rem, 6vw, 1.314rem);
}
.first-box p {
    font-size: calc(100vw - 96.32vw);
    line-height: 1.2;
    margin-bottom: 1rem;
}

.grid-team {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.team__item1 {
    grid-area: 1/1/2/2;
}
.team__item2 {
    grid-area: 2/2/3/3;
}
.team__item3 {
    grid-area: 2/3/3/4;
}
.team__item4 {
    grid-area: 3/1/4/2;
}
.team__item5 {
    grid-area: 3/3/4/4;
}
.team__item6 {
    grid-area: 4/1/5/2;
}
.team__item7 {
    grid-area: 4/2/5/3;
}
.team__item8 {
    grid-area: 5/2/6/3;
}
.team__item9 {
    grid-area: 5/3/6/4;
}
.name-team {
    font-size: 2.5VW;
}
.space-l-name {
    padding-left: .5rem;
}






/*SECTION > MASTERING*/
#mastering {
    padding: 2rem 0 10rem;
}
.cs-mst-title {
    font-size: calc(100% + 8vw);
    position: relative;
    z-index: 10000;
    color: #15161A;
    mix-blend-mode: difference;
}
.cs-work-link {
    font-size: calc(16px + 0.4vw);
    position: relative;
    z-index: 10000;
    color: #15161A;
}
.cs-work-link a:hover {
    color: #15161A;
}

/* TRAIL IMAGES */
.content-trail {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}
.trail-box {
    height: 100%;
    margin-bottom: 2rem;
}
.trail-images{
    position: relative;
    width: 67vw;
    margin: 0 auto;
    height: calc(100vw - 0vw);
}
.content__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    display: block;
    z-index: 5;
}
.trail-images .content__img.active {
  z-index: 10;
}

.trail-images .content__img:nth-child(1n) {
  transform: rotate(2deg); 
}
.trail-images .content__img:nth-child(2n) {
  transform: rotate(-2deg); 
}
.trail-images .content__img:nth-child(3n) {
  transform: rotate(2deg); 
}
.trail-images .content__img:nth-child(4n) {
  transform: rotate(-3deg); 
}
.trail-images .content__img:nth-child(5n) {
  transform: rotate(4deg); 
}
.trail-images .content__img:nth-child(6n) {
  transform: rotate(-3deg); 
}
.trail-images .content__img:nth-child(7n) {
  transform: rotate(2deg); 
}
.trail-images .content__img:nth-child(8n) {
  transform: rotate(-5deg); 
}
.trail-images .content__img:nth-child(9n) {
  transform: rotate(3deg); 
}
.trail-images .content__img:nth-child(10n) {
  transform: rotate(-5deg); 
}






/******************************** SECTION EXPERTISE ****************************/

/*HERO*/
#page-header.expertise-header {
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    height: 100vh;
}
#page-header.expertise-header .ph-caption-title {
    position: relative;
    margin: 0;
    font-size: calc(100vw - 88vw);
    line-height: .9;
    z-index: 9;
    text-transform: uppercase;
}
.row-title {
    display: flex;
    margin-top: -1.214rem;
    align-items: center;
    gap: 1rem;
}
.text-hero {
    line-height: 1;
}
.block-float {
    position: absolute;
    right: 14%;
    top: calc(100vh - 20vh);
    width: auto;
    margin: 0;
}
.block-float p {
    font-size: calc(100vw - 96.7vw);
}
.ph-caption-subtitle {
    padding-bottom: calc(100vh - 95vh)
}

/*panels*/
section.panel-exp_ {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.panel-title {
    height: auto;
    overflow: hidden;
    margin-bottom: -2.5rem;
    z-index: 1;
    position: relative;
}
.panel-title h1 {
    font-size: calc(100vw - 80vw);
    overflow: hidden;
    line-height: 1;
    margin: 0;
}
.panel-title .mt-title {
    margin-top: -1.5rem;
}
.panel-image {

}
.panel-text {}
.panel-text h3 {
    font-size: calc(100vw - 95vw);
    line-height: .915;
    text-transform: uppercase;
}
.panel-text h6 {
    font-size: calc(100vw - 96.5vw);
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}







/******************************** SECTION PROJECTS ****************************/
/* section.project-item {
    margin-bottom: calc(100vh - 75vh);
} */
.project-item {
    height: calc(100vh - 40vh);
    min-height: 390px;
}
.title-project {
    height: auto;
    overflow: hidden;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100vh - 81vh);
    mix-blend-mode: difference;
    text-align: center;
}
.title-project h1 {
    font-size: calc(100vw - 86vw);
    color: white;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.title-project .mt-title {
    margin-top: -1.5rem;
}

.panel-project {
    position: relative;
    height: 100%;
    align-items: center;
    overflow: hidden;
}
.panel-project > figure#linkItem {
    cursor: pointer;
    z-index: 1;
    margin: 0 auto;
    width: 70vw;
    height: 45vh;
    display: block;
    overflow: hidden;
    position: relative;
    clip-path: inset(10% 0 10% 0);
    transition: clip-path 1s ease;
}
.panel-project > figure#linkItem img {
    display: block;
    margin: auto;
    width: auto;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    transform: translate(-50%, -50%) scale(1.0);
}
.list-detail {
    /* position: absolute; */
    color: #FFF;
    top: 100%;
    margin-left: calc(100vw - 87vw );
}
.list-detail ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-detail ul li {
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
    display: block !important;
}

.anim-image-parallax {
    transform: scale(1.2);
    transform-origin: 50% 100%;
}

.box-content-pr {
    position: relative;
}





/* ------------------------------------------------------------- *
 * SCREEN > PROJECT > DETAIL
/* ------------------------------------------------------------- */
#page-content.project-detail figure video {width: 100%;}

/*Nav links*/
.content-hero {
    position: relative;
    height: 100%;
    z-index: 2;
    background-color: #15161a;
    padding: 5rem 0 2rem 0;
}
#sidebarNav.cs-ps-nav-list-in {
  position: fixed;
  left: 2.5vw;
  transform: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  top: 13vh;
  z-index: 1;
  transition: opacity 0.5s ease; /* Duración y suavidad de la transición */
}
.cs-ps-nav-list-in .link-list {
  display: inline-block;
  width: auto;
  opacity: 1;
  color: #939393;
  font-size: .914rem;
  line-height: 1.4;
  transition: color 1s;
}
.cs-ps-nav-list-in .link-list:hover, .cs-ps-nav-list-in .link-list.active-link {
  color: #fff;
}


.cs-page-nav {
    text-align: center;
}
.cs-page-nav a {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.padding-top-5 {
    padding-top: 4px;
}
.padding-bottom-5 {
    padding-bottom: 4px;
}
.padding-right-5 {
    padding-right: 2px;
}
.padding-left-5 {
    padding-left: 2px;
}


figure img {display: block}
video {width: 100%;display: block}
.text-title {font-size: 1.614rem;line-height: 1.114;}
.text-description{line-height: 1.4;}












