


.no-scroll {
    overflow: hidden;
    height: 100vh;
}
.no-scrollbar {
    overflow: hidden;
}
#contente-z1{position: relative;z-index: 9;min-height: 100vh;}



/*VIDEO REEL*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15161A;
    z-index: 999; /* Debe estar por debajo del #closeReel */
}
#closeReel {
    display: none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Asegúrate de que esté por encima del overlay */
}
#openReel, #closeReel {
    cursor: pointer;
}
body.no-scroll {
    overflow: hidden;
}




/*CURSOR VIDEO*/
#magic-cursor.video-interactive-hover-on {
    color: white;
    mix-blend-mode: difference!important;
}

#ball .cursor-text {
    width: 500px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    font-weight: 500;
    font-size: 2.214rem;
    text-align: center;
      background-color: transparent;
      pointer-events: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform;
    border-radius: 100%;
    z-index: 9; 
}


/*CURSOR BALL ROTATION*/
#ball .ball-rotate {
    width: 110px;
    height: 110px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    font-weight: 500;
    color: #222;
    text-align: center;
      background-color: #EC542A;
      pointer-events: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform;
      border: solid 2px #EC542A;
    border-radius: 100%;
    z-index: 9; 
}
.ball-rotate:after {
    -webkit-animation: linkAfter .5s cubic-bezier(.87, 0, .13, 1);
    animation: linkAfter .5s cubic-bezier(.87, 0, .13, 1);
    background-color: #FFFFFF;
    content: "";
    height: 0.10rem;
    position: absolute;
    top: 3.3rem;
    transform: translate(0) rotate(-42deg);
    width: 2.5em;
}
.ball-rotate:before {
    -webkit-animation: linkBefore .5s cubic-bezier(.87, 0, .13, 1);
    animation: linkBefore .5s cubic-bezier(.87, 0, .13, 1);
    border-right: 0.12rem solid #FFFFFF;
    border-top: 0.12rem solid #FFFFFF;
    box-sizing: border-box;
    content: "";
    height: 1.7rem;
    position: absolute;
    right: 2.2rem;
    top: 2.3rem;
    width: 1.8rem;
}
@-webkit-keyframes linkBefore {
    0% {
        transform: translate(-1rem, 1rem)
    }
    to {
        transform: translate(0)
    }
}

@keyframes linkBefore {
    0% {
        transform: translate(-1rem, 1rem)
    }
    to {
        transform: translate(0)
    }
}

@-webkit-keyframes linkAfter {
    0% {
        transform: translate(-1rem, 1rem) rotate(-45deg)
    }
    to {
        transform: translate(0) rotate(-45deg)
    }
}

@keyframes linkAfter {
    0% {
        transform: translate(-1rem, 1rem) rotate(-45deg)
    }
    to {
        transform: translate(0) rotate(-45deg)
    }
}
#ball .ball-rotate svg {
    width: 135px;
    position: absolute;
    animation: rotation 10s infinite linear;
    pointer-events: none;
    transition: top .5s, left .5s;
    transition-timing-function: ease-out;
}
#ball .ball-rotate textPath {
    fill: #FFF;
}
#ball .ball-rotate svg {
    font-size: 2.4rem;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }






/*fonts*/
.font-wb {
    font-family: 'Aeonik';
}
.font-uppercase {
    text-transform: uppercase;
}

.font-white {
    color: #FFF;
}


/*fonts animations*/
.word {
    overflow: hidden;
    padding-bottom: 0.5em;
    margin-bottom: -0.4em;
    transform-origin: bottom;
}
[text-split] {
    opacity: 0;
}
.main-hero_heading {
    line-height: .8;
}



/*header fixed scroll*/
#cs-header.jwpnavbar {
    height: 80px;
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.3s
}
#cs-header.jwpnavbar--scrolled {
    height: 85px;
    top: 0;
    background-color: #15161a;
}
.cs-logo, .cs-header-inner {
  transition: ease 0.6s;
}
#cs-header.jwpnavbar--scrolled .cs-header-inner {
    padding-top: 20px;
}
#cs-header.jwpnavbar--scrolled .cs-logo {
    top: 30px;
}
#cs-header.jwpnavbar--up {
    top: -90px;
    transition: ease 0.4s;
}
#cs-header.jwpnavbar--scrolled .text-menu {
    color: #FFF;
}
/*Navbar*/
ul.cs-ol-menu-contact {
    position: absolute;
    left: 2.5%;
    bottom: 5%;
    z-index: 4;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cs-ol-menu-contact span {
    padding-bottom: 5px;
    display: block;
}
.cs-ol-menu-contact .link-contact {
    font-size: 26px;
}
.cs-ol-menu-contact .link-contact:hover {
    color: #FFF;
}
.cs-link.border-orange {
    background-image: -o-linear-gradient(transparent calc(100% - 1.5px), #F15025 1px);
    background-image: linear-gradient(transparent calc(100% - 2px), #F15025 2px);
}

.cs-logo img {
    max-height: 48px;
    max-width: 137px;
}

body.cs-ol-menu-open .cs-logo-white{
    display: block !important;
}
body.cs-ol-menu-open .cs-logo-dark{
    display: none !important;
}



/*Footer*/
#page-header {
    background-color: #F1F1F1;
    height: calc(100vh - 10vh);
    display: flex;
    align-items: end;
}
#page-content {
    height: 100%;
    margin-bottom: 100vh;
    z-index: 1;
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
}
#cs-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
#cs-footer .logo-footer {
    width: 60vw;
}
#cs-footer .logo-footer img {
    width: 100%;
}
.logo-footer h1 {
    font-size: 13rem;
    margin: 0;
    overflow: hidden;
    line-height: .7;
}
#cs-footer .logo-footer img {
    display: block;
}
#cs-footer .cs-copyright {
    width: 25vw;
    font-size: 14px;
    line-height: 1;
}
.link-mailinfo {
    font-size: clamp(2rem, 3vw, 6rem);
}

.space-cl-1 {
    padding-bottom: 2vh; 
}
.space-cl-2 {
    padding-bottom: 10vh;
}
.space-cl-3 {
    padding-bottom: 8vh;
}
.space-cl-4 {
    padding-bottom: 10vh;
}

.cs-justify-content-between {
    justify-content: space-between !important;
}












/*HERO*/
.word-line {
    overflow: hidden;
    line-height: .8;
}
.skew-up, .skew-up-in, .skew-up-in-2 {opacity: 0;}

.crs-hero {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 5px;
    height: 30px;
}
.crs-hero img {
    height: 100%;
}
.point-init {
    margin: 0px 0 0 -32px;
    bottom: 8px;
    height: 18.5px;
    width: 18.5px;
}


/*HERO VIDEO*/
#videoZoom {
  transform: scale(.63);
  overflow: hidden;
  border-radius: 3rem;
}
#videoPopup {
    display:none; 
    position:fixed; 
    height: 100vh;
    width: 100%;
    top:0%; 
    left:0%;
    z-index:999999;
    background-color:#000; 
}
#closePopup {
    position: absolute;
    width: 100%;
    height: 100vh;
    border: none;
    cursor: pointer;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#popupVideo {
    height: 100vh;
    width: 100%;
}




/*manifest*/
.item-doodle {
    position: absolute;
    left: calc(100vw - 80vw);
    bottom: calc(100vh - 105vh);
    width: 570px;
}
.item-doodle video {
    width: 100%;
}
.doodle-navbar {
    position: absolute;
    left: 10vw;
    bottom: 0;
}
.dark-section, .gray-section {
  transition: background-color 0.2s, color 0.2s
}

.logo-crs {
    max-width: 70vw;
    margin-left: auto;
}
.logo-crs img {
    width: 100%;
}
.dark-active {
  background-color: #15161A;
  color: #F1F1F1;
}

.gray-section {
  background-color: #15161A;
  color: #F1F1F1;  
}
.gray-active {
  background-color: #F1F1F1;
  color: #15161A;
}

.dark-section svg {
  fill: #000000; /* Changes the fill color of SVG elements to white */
  transition: fill 1s;
}
.gray-section svg {
  fill: #ffffff; /* Ensures SVG elements in gray sections have a dark color */
  transition: fill 1s;
}

.dark-active svg {
  fill: #F1F1F1; /* Changes the fill color of SVG elements to white */
  transition: fill 1s;
}
.gray-active svg {
  fill: #15161A; /* Ensures SVG elements in gray sections have a dark color */
  transition: fill 1s;
}

.block-text_intro {
    color: #fff;
    font-size: 1.214vw;
    line-height: 1;
}



/*HEADER HOME*/
@media (max-width: 1920px) {
    body:not(.ph-image-on) #page-header .page-header-inner.home-header {
        padding-top: 20vh;
        padding-bottom: 15px;
    }
    .home-header .ph-caption-subtitle {
        margin-bottom: 3vh;
    }
}



/*SECTION > TRUSTED COLLABS*/
#brands {
}
.cs-brands-carousel .swiper-horizontal>.swiper-scrollbar,
.cs-brands-carousel .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    background: rgb(0 0 0 / 30%)
}

.cs-brands-carousel .swiper-scrollbar-drag {
    background: #ffb2c7
}

.cs-brands-carousel .swiper-horizontal>.swiper-scrollbar,
.cs-brands-carousel .swiper-scrollbar.swiper-scrollbar-horizontal {
    left: var(--swiper-scrollbar-sides-offset, 4%)
}

.cs-content-relative {
    position: relative
}

.cs-title-brands {
    font-size: calc(8px + 10vw);
    padding-left: 2.5%;
    line-height: 1;
    padding-right: 2.5%;
}

.cs-brands-carousel .swiper-scrollbar {
    visibility: hidden
}

@media (max-width:760px) {
    .cs-brands-carousel .swiper-scrollbar {
        visibility: initial
    }
    .cs-brands-carousel .swiper-wrapper {
        padding-bottom: 2rem
    }
}

.cs-brands-carousel .swiper-horizontal {
    padding: 0 2.8%;
}


.cs-brands-carousel-item h4 {
    font-size: 17px;
    font-weight: 600;
}

.cs-brands-carousel-item p {
    margin: 0 0 30px;
    line-height: normal;
    font-size: 1rem;
}

.cs-brands-carousel-item figure {
    margin-bottom: 25px;
    /* width: 125px; */
    height: 95px;
    display: flex;
    align-items: center;
}


.cs-brands-carousel-item figure img {
    width: auto;
    height: auto
}

@media (max-width:760px) {
    .cs-brands-carousel-item figure img {
        max-width: 200px
    }
}

@media (max-width:2800px) {
    .cs-brands-carousel .swiper-slide {
        width: 30vw;
        padding-right: 5vw;
    }
}

@media (max-width:768px) {
    .cs-brands-carousel .swiper-slide {
        width: 40vw
    }
}

@media (max-width:767px) {
    .cs-brands-carousel .swiper-slide {
        width: 70vw
    }
}










/*SECTION > ABOUT*/
#about {
    margin-top: -1px;
}
.first-box h1 {
    font-family: "Aeonik";
    font-size: calc(100% + 6.514vw);
    line-height: .9;
    margin: 0;
}
.first-box h6 {
    font-size: calc(100% + .154vw);
}
.first-box p {
    line-height: 1.2;
    font-size: calc(100% + 0.014vw);
}

.grid-team {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 15px;
    width: 100%;
    height: 100%;
}
.team_n1 {
    grid-area: 1/2/2/3;
}
.team_n2 {
    grid-area: 1/4/2/5;
}
.team_n3 {
    grid-area: 1/5/2/6;
}
.team_n4 {
    grid-area: 2/1/3/2;
}
.team_n5 {
    grid-area: 2/3/3/4;
}
.team_n6 {
    grid-area: 2/4/3/5;
}
.team_n7 {
    grid-area: 3/2/4/3;
}
.team_n8 {
    grid-area: 3/3/4/4;
}
.team_n9 {
    grid-area: 3/5/4/6;
}
.name-team {
    font-size: calc(100% - .25vw);
}

@media screen and (min-width: 1920px) {
    .first-box h1 {
        font-family: "Aeonik";
        font-size: calc(100% + 6.214vw);
        line-height: .9;
        margin: 0;
    }
    .first-box h6 {
        font-size: calc(100% + .414vw);
    }
    .first-box p {
        line-height: 1.3;
        font-size: calc(100% + 0.114vw);
    }  
    .name-team {
        font-size: calc(100% + .01vw);
    } 
}



/*Grid Columns*/
/*.cs-mtop {
    padding-top: 10px;
}
#about .cs-md-gutters > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.cs-heading-about .cs-heading-title {
    font-size: calc(28px + 9vw);
    line-height: .8;
    margin-top: -1rem;
    font-family: "Aeonik";
}

.anim-image-parallax-inner img {
    
}*/
/*.anim-image-parallax-inner:hover img {
    opacity: .8;
   scale: .97;

}*/






/*SECTION > MASTERING*/
#mastering {
/*    height: 100vh;*/
    /* overflow: hidden; */
}
.cs-mst-title {
    font-size: calc(100% + 9vw);
    position: relative;
    z-index: 10000;
    color: #FFF;
    mix-blend-mode: difference;
}

.cs-work-link {
    font-size: calc(16px + 0.4vw);
    position: relative;
    z-index: 10000;
    color: #FFF;
    mix-blend-mode: difference;
}
.cs-work-link a:hover {
    color: #FFF;
}

/* TRAIL IMAGES */
.content-trail {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}
.content__title {
    text-align: center;
    position: relative;
    z-index: 10000;
    line-height: 7rem;
    color: #FFF;
    mix-blend-mode: difference;
}
.content__img {
    max-width: 220px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    will-change: transform;
}
.content__img--full {
    width: 100%;
    height: 100%;
    background-size: cover;
}
@media screen and (min-width: 53em) {
    .content-trail {
        height: 100vh;
        width: 100vw;
        background-color: #F1F1F1;
        padding-bottom: 5rem;
    }
    .content__img {
        max-width: 280px;
        min-width: 250px;
    }
}
@media screen and (min-width: 1920px) {
    .content__img {
        max-width: 380px;
    }
}
@media screen and (min-width: 1920px) {
    .content__img {
        max-width: 330px;
    }
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
    /* Aquí van los estilos específicos para este rango de resoluciones */
    .content__img {
        min-width: 480px;
    }
  }



/******************************** SECTION EXPERTISE ****************************/

/*HERO*/
@media (max-width: 1920px) {
    body:not(.ph-image-on) #page-header.ph-cap-lg .page-header-inner {
        padding-top: 130px;
        padding-bottom: 40px;
    }
}

#page-header.expertise-header {
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    height: 100vh;
}
#page-header.expertise-header .ph-caption-title {
    position: relative;
    margin: 0;
    font-size: calc(100vw - 94vw);
    line-height: .9;
    z-index: 9;
    text-transform: uppercase;
}
.row-title {
    display: flex;
    margin-top: -1.214rem;
    align-items: center;
    gap: 1rem;
}
.text-hero {
    line-height: 1;
}
.block-float {
    position: absolute;
    left: 75%;
    bottom: 10%;
    width: auto;
    margin: 0;
}
.block-float p {
    font-size: calc(100vw - 98.7vw);
}
/*panels*/
section.panel-exp_{
    padding-bottom: 13rem;
}
section.panel-exp_:nth-child(5) {
    padding-bottom: 17rem;
}
.panel-title {
    height: auto;
    overflow: hidden;
    margin-bottom: -8rem;
    z-index: 1;
    position: relative;
}
.panel-title h1 {
    font-size: calc(100vw - 82vw);
    overflow: hidden;
    line-height: 1;
    margin: 0;
}
.panel-title h1 .word {
    padding-bottom: 0.41em;
}
.panel-title .mt-title {
    margin-top: -5rem;
}
@media screen and (min-width: 1920px) {
    .panel-title .mt-title {
        margin-top: -7rem;
    }
}
.panel-image {

}
.panel-text {
    width: calc(100vw - 55vw);
}
.panel-text h3 {
    font-size: 2rem;
    line-height: .915;
    text-transform: uppercase;
}
.panel-text h6 {
    font-size: 1.414rem;
    line-height: .955;
    text-transform: uppercase;
    margin: 0;
}






/******************************** SECTION PROJECTS ****************************/
    #page-portfolio .cs-portfolio-slider-navigation {
        position: fixed;
        top: 13%;
        bottom: inherit;
    }
    #page-portfolio figure {
        cursor: pointer;
        z-index: 1;
    }
    #page-portfolio figure {
        margin: 0 auto;
        width: 40vw;
        height: 80vh;
        display: block;
        overflow: hidden;
        position: relative;
        clip-path: inset(5% 0% 5% 0%);
        transition: clip-path 1s ease;
    } 

    #page-portfolio figure img {
        display: block;
        margin: auto;
        width: auto;
        height: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: fit-content;
        transform: translate(-50%, -50%) scale(1.0);
    }


.cs-portfolio-slider-item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.cs-portfolio-slider-item img.cs-psi-image, 
.cs-portfolio-slider-item video.cs-bg-video {
    width: 555px;
    height: 555px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 5rem auto 0 auto;
}



.cs-ps-caption-inner {
    position: relative;
    overflow: hidden;
}
.cs-portfolio-slider-caption.psc-center {
    top: 50%;
    color: #FFF;
    mix-blend-mode: difference;
}
.cs-ps-caption-title {
    margin: 0;
    font-size: calc(100% + 9.814vw);
    line-height: 0.9;
    color: #FFF;
}

.cs-portfolio-slider-navigation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: auto;
    height: auto;
    z-index: 1;
    transform: none;
    background: #cc1010;
    top: 0;
}
.cs-ps-nav-pagination-bullets-dynamic {
    position: absolute;
    left: 1.5vw;
    transform: none;
    white-space: normal;
    overflow: inherit;
    font-size: 1rem;
    /* z-index: 99999; */
    width: 206px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    top: 15%;
}
.cs-ps-caption-title a {
    display: inline;
    color: #fff;
}


.cs-ps-nav-pagination-bullets .swiper-pagination-bullet {
    display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
    opacity: 1;
    border-radius: 0;
    border: none;
    color: #939393;
    font-size: .914rem;
    text-align: left;
    margin-left: 0;
    line-height: 1.4;
    cursor: pointer;
    margin: 1px 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #FFF;
    background-color: transparent;
}
.swiper-pagination-bullet {
    transition: color .7s ease;
}
.swiper-pagination-bullet:hover {
    color: #FFF;
}

.cs-caption-category {
    margin-top: 4vh;
    position: absolute;
    right: calc(100vw - 93vw);
    text-align: left;
    overflow: hidden;
    min-width: 15vw;
}
.cs-ps-caption-category {
    margin: 30px 0 0 0;
    font-size: calc(1.184rem + 0.1vw);
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.cs-caption-ol {
    overflow: hidden;
    font-size: calc(1.314rem + 0.1vw);
    position: absolute;
    left: calc(100vw - 95vw);
    bottom: calc(100vh - 122vh);
}
.cs-ps-caption-ol {
    font-size: calc(1.314rem + 0.1vw);
    margin: 0;
}


.cs-caption-date {
    overflow: hidden;
    position: absolute;
    right: 10%;
    top: -10vh;
}
.cs-caption-date h5 {
    margin: 0;
    font-size: calc(1.314rem + 0.1vw);
}

figure image, figure video {
    display: block;
}
video {display: block; width: 100%;}

@media screen and (min-width: 1920px) {

}






/* ------------------------------------------------------------- *
 * SCREEN > PROJECT > DETAIL
/* ------------------------------------------------------------- */
figure video {width: 100%;}
.cs-page-nav a {
    font-size: 2rem;
    text-transform: uppercase;
    transition: all .5s;
}
.cs-page-nav a:hover {
    color: #e84d24;
}

/*Nav links*/
.content-hero {
    position: relative;
    height: 100%;
    z-index: 2;
    background-color: #15161a;
}


.cs-page-nav {
    text-align: center;
}

.cs-back-title {position: relative;display: block;font-size: clamp(30px, 6vw, 20px);font-weight: 500;color: #f15025;line-height: 1.6;}.cs-back-title:hover {color: #fff;}



/* En tu CSS */
.cs-portfolio-slider img {
    will-change: transform, opacity;
}